.link {
  color: white;
  &[data-selected] {
    background-color: white;
    color: #16161d;
    border-right: 1px solid #4c6ef5;
  }

  &:hover {
    color: #16161d;
  }
}
.iconBold {
  font-weight: bold;
  font-size: 24px;
}
